body{background-color: rgba(165, 114, 42, 0.355);}
.shop{
    display: flex;
    
}
.divs{
    flex: auto;
    background-color: rgba(0, 0, 0, 0.316);
    padding: 10px;
    border: 10px;
    margin: 10px;

}
.sal{
     background-color: rgba(0, 0, 0, 0.316);
     
    padding: 10px;
    border: 10px;
    margin: 10px;
}
button {
    background-color: rgba(0, 255, 255, 0.525);
   border: 2px solid rgba(0, 0, 255, 0.621);
  border-radius: 15px;
  
  width: 60px;
  height: 36px;
  
}
button:hover {
  background-color: rgba(226, 113, 43, 0.349);
}